<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>POKEDEX</title>
</head>

<body class="bg">
    <nav>
        <form>
            <a href="/cadastro">
                <input type="button" class="btn btn3 round3" value="Cadastrar">
            </a>
        
    </nav>
    
    <header>
        <article>
            
            <h1>P O K E D E X</h1>
            
            
        </article>

        
    </header>
    
    <section id="index">
    <main id="detalhes" class="index-detalhes">
        
        <section class="containerCard">
        <article class="card_content">
        <% pokedex.forEach((pokedex, find) => { %>
        <a class= "linken" href="/detalhes/<%= find %>"><img class="img" src="<%= pokedex.imagem %>" width="200" height="200"/>
        <h2 class="nomeHome"><%= pokedex.nome %></h2>
        <h4 class="tipoHome"><%= pokedex.tipo %></h4>
        <% }) %>
       </a>
        </article>
        </section>
        
      </main>
 
   
</body>
<script src="/js/script.js"></script>
</html>